<span class='radioClass'>Show: </span>
<input type='radio' name='option' value='All' [(ngModel)]='selectedRadioButtonValue' (change)='onRadioButtonSelectionChanged()'><span class='radioClass'>All</span>{{'('+all+')'}}
<input type='radio' name='option' value='Male'  [(ngModel)]='selectedRadioButtonValue' (change)='onRadioButtonSelectionChanged()'><span class='radioClass'>Male</span>{{'('+male+')'}}
<input type='radio' name='option' value='Female'  [(ngModel)]='selectedRadioButtonValue' (change)='onRadioButtonSelectionChanged()'><span class='radioClass'>Female</span>{{'('+female+')'}}